<h2>Technical Program Committee</h2>
      <div class="row">
        <div class="techthree columns"> 
            <h4>Ghufran Ahmad</h4>
            <p>FAST-NUCES, Karachi, Pakistan</p>
        </div>
        <div class="techthree columns"> 
            <h4>Mansoor Ahmed</h4>
            <p>Maynooth University, Ireland</p>
        </div>
        <div class="techthree columns"> 
            <h4>Khubaib Amjad Alam</h4>
            <p>FAST-NUCES, Islamabad, Pakistan</p>
        </div>
        <div class="techthree columns"> 
            <h4>Jie Zhao</h4>
            <p>Penn State University, USA</p>
        </div>
        <div class="techthree columns"> 
            <h4>Asad Habib</h4>
            <p>Kohat University of Science and Technology, Pakistan</p>
        </div>
        <div class="techthree columns"> 
            <h4>Yaser Hafiz</h4>
            <p>PMAS-Arid Agriculture University, Pakistan</p>
        </div>
        <div class="techthree columns"> 
            <h4>Naseem Ibrahim</h4>
            <p>Penn State University, USA</p>
        </div>
        <div class="techthree columns"> 
            <h4>Kwabena Ebo Bennin</h4>
            <p>Wageningen University, Netherland</p>
        </div>
        <div class="techthree columns"> 
            <h4>Javed Iqbal</h4>
            <p>COMSATS University Islamabad, Pakistan</p>
        </div>
        <div class="techthree columns"> 
            <h4>Muhammad Rizwan Abid</h4>
            <p>Florida Polytechnic University</p>
        </div>
        <div class="techthree columns"> 
            <h4>Mohammad Javid</h4>
            <p>Gomal University</p>
        </div>
        <div class="techthree columns"> 
            <h4>Abdul Khaliq Shaikh</h4>
            <p>Sultan Qaboos University, Oman</p>
        </div>
        <div class="techthree columns"> 
            <h4>Abdul Mateen</h4>
            <p>Yeungnam University, Korea</p>
        </div>
        <div class="techthree columns"> 
            <h4>Ghulam Mudassir</h4>
            <p>University of L'Aquila, Italy</p>
        </div>
        <div class="techthree columns"> 
            <h4>Boyana Norris</h4>
            <p>University of Oregon, USA</p>
        </div>
        <div class="techthree columns"> 
            <h4>Wen-Li Wang</h4>
            <p>Penn State University</p>
        </div>
        <div class="techthree columns"> 
            <h4>Chong Chun Yong</h4>
            <p>Monash University</p>
        </div>
        <div class="techthree columns"> 
            <h4>Jacky Keung</h4>
            <p>City University of Hong Kong</p>
        </div>
    </div>
    
    </div>