<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> SEET 2026</title>
  <link rel="icon" type="image/x-icon" href="{% static 'app/images/SEET_revmininb.png' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
</head>

<body>
  <!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav class="navbar navbar-expand-lg navbar-light ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="width: 100%;">
        <nav>
          <ul>
            <li><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="/">Tracks</a></li>
            <li><a class="smoothscroll" href="/">key Dates</a></li>
            <li><a class="smoothscroll" href="/">Committees</a></li>
            <li><a class="smoothscroll" href="/submissions">Submissions</a></li>
            <li><a class="smoothscroll" href="/registration">Registration</a></li>
            <li><a class="smoothscroll" href="/travel">Travel & Venue</a></li>

          </ul>
      </ul>
    </div>
  </nav>

  <div class="headerlogo">
    <img src="{% static 'app/images/SEET_rev2.png' %}" width="1000px" alt="">
  </div>
  <header id="header">
    <!-- <div class="main_nav sticky">
      <div class="container-flex">
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
            <ul>
                <li><a class="smoothscroll" href="/">Home</a></li>
                <li><a class="smoothscroll" href="/">Tracks</a></li>
                <li><a class="smoothscroll" href="/">key Dates</a></li>
                <li><a class="smoothscroll" href="/">Commitees</a></li>
                <li><a class="smoothscroll" href="/submissions">Submissions</a></li>
                <li><a class="smoothscroll" href="/registration">Registration</a></li>
                <li><a class="smoothscroll" href="/travel">Travel & Venue</a></li>
              </ul>
        </nav>
      </div>
    </div> -->
    <div class="title">

      <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'app/images/csulbslider1.jpg' %}" width="1000px" height="600px" class="d-block " src="..." alt="First slide">
              </div>
              <div class="carousel-item">
                <img src="{% static 'app/images/csulbslider2.jpg' %}" width="1000px" height="600px" class="d-block " src="..." alt="Second slide">
              </div>
              <div class="carousel-item">
                <img src="{% static 'app/images/csulbslider3.jpg' %}" width="1000px" height="600px" class="d-block " src="..." alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->



    </div>
    <a class="smoothscroll" href="#about">
      <div class="scroll-down"></div>
    </a>
  </header>

  <!-- About Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <section id="about">
    <div class="container">
      <div class="aboutseet" style="padding-bottom: 10px;">
        <h1>Registration Policies</h1>
        <div class="block"></div>
        <p>
          <!-- If the paper is accepted, at least one of the authors listed on the paper must register for the SEET 2026. -->

          If the paper is accepted, at least one of the authors listed in the paper must be present at the conference
          and deliver the presentation as per the timetable established by the Technical Program Committee. If the
          presenter cannot attend the conference due to circumstances such as delayed visa processing, the author will
          deliver an online presentation via a virtual session.
        </p>

        <p>Registration Fee</p>
        <p style="text-align: left;">
          The registration fees are set at the Academia Rate as shown below:

          <b>Author Registration:</b>
          <br>
          <b>Regular Registration:</b> $750.00 *
          <br>
          <b>SRC Registration:</b> $650.00 *
          <br><br>
          <b>Attendee/ Non-Author Registration:</b> $550.00 *
        </p>
      </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal" > 
          Register Now
        </button>
      <br>

      <br>
      <div class="aboutseet">
        <b>Terms and Conditions</b>
        <br>
        <br>
        <!-- <div class="block"></div> -->
        <p>

          <b>- Refund Policy:</b> Paid registrants who are not authors and are unable to attend, without arranging for a
          substitute, may receive a partial refund of $200.00 if their request is submitted in writing by August 1,
          2026. After this date, registrants will be responsible for their full fees (i.e., NO Refund will be issued).
          Authors of papers will NOT receive any refunds, as the fees collected from authors are allocated to cover the
          costs associated with publication, preparation of indexation meta-data, organization, infrastructure, and
          other expenses related to their own papers.
          <br>
          <br>
          - The conference is unable to assure the issuance of a USA visa; authors whose visas are not granted in a
          timely manner may present their papers online. The registration fee is non-refundable.
          <br>

          <br>
          <b>- For those who are physically attending the conference</b>,the Registration Fee will encompass the
          publication of their papers, a printed Conference Program (which is part of the conference package),
          breakfasts, a reception dinner, refreshment breaks (including coffee and tea, among others), access to all
          sessions, panel discussions, keynote speeches/Invited lectures, and various other conference materials.
          <br>
          <br>
          <b>- For those who are NOT physically attending the conference (i.e., virtual participation):</b>The
          Registration Fee will cover the publication of the accepted paper(s), access to the Conference Program, entry
          to sessions, and the dissemination of their presentation and published paper (for speakers and authors).
          <br>
          <br>
          <b>- Authors of papers</b> are required to register and submit their properly formatted manuscripts to the
          publication website by the specified deadlines if they desire their works to be published.
          <br>
          <br>
          - An author is permitted to publish a maximum of two papers, either as a primary author or as a co-author.
          <br>
          <br>
          <b>- All Payments</b> are required to be made in U.S. Dollars. Checks issued by banks located outside the
          United States must be cashable at a branch of that bank within the United States or at any U.S. bank. For
          instructions regarding wire transfers or payments by check, please reach out to seet@sw-conf.com (ensure your
          email includes the accepted paper ID number and the title of the accepted paper).

          <br>
          <br>
          <!--- <b>Authors of papers</b> must register and upload their correctly typeset papers to the publication website by the announced deadlines if they wish for their papers to be published. -->




        </p>


      </div>




    </div>






  </section>



  <!-- Skills Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- <section id="skills">
    <div class="container">
      <h1>Services</h1>
      <div class="block"></div>
      <div class="row">
        <div class="one-third column">
          <h3>Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
        </div>
        <div class="one-third column">
          <h3>Development</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
        </div>
        <div class="one-third column">
          <h3>Marketing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <div class="progressBar">
            <h4>HTML5</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-90"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>CSS3</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-80"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>Jquery</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-30"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>WordPress</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-70"></div>
            </div>
          </div>
        </div>
        <div class="four columns">
          <p>Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </section>
   -->
  <!-- Portfolio Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- <section id="portfolio">
    <div class="container">
      <h1>Work</h1>
      <div class="block"></div>
      <div class="row">
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four"/></div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven"/></div>
        <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight"/></div>
      </div>
    </div>
  </section> -->

  <!-- Testimonials Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- <section id="testimonial">
    <div class="container">
      <div class="quoteLoop">
        <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
          <h5>&nbsp;<br>
            &rdquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;<br>
            <small>Steve Bruce, Sed ut perspiciatis unde omnis</small></h5>
        </blockquote>
        <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
          <h5>&nbsp;<br>
            &ldquo;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.&rdquo;<br>
            <small>Tom Jones, Sed ut perspiciatis unde omnis</small></h5>
        </blockquote>
      </div>
    </div>
  </section> -->

  <!-- Contact Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- <section id="contact">
    <div class="container">
      <h1>Contact</h1>
      <div class="block"></div>
      <form>
        <div class="row">
          <div class="six columns">
            <label for="exampleRecipientInput">Name</label>
            <input class="u-full-width" type="text">
          </div>
          <div class="six columns">
            <label for="exampleEmailInput">Email</label>
            <input class="u-full-width" type="email">
          </div>
        </div>
        <div class="row">
          <label for="exampleMessage">Message</label>
          <textarea class="u-full-width"></textarea>
          <input class="button-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </section> -->

  <!-- Footer Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <footer>
    <div class="container">
      <div class="nine columns">
        <!-- <p> General Inquiries <a style="color: black;" href="mailto: seet@sw-conf.com">seet@sw-conf.com</a></p> -->
        <b>Contact Us</b>
        <br>
        We'd love to hear from you.
        <br>
        SEET 2026 Conference Secretariat
        <br>
        <a style="color: black;" href="mailto: seet@sw-conf.com">seet@sw-conf.com</a>
      </div>
      <!-- <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div> -->
    </div>
  </footer>

  <!-- Modal Structure -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'registration_info' %}">
            {% csrf_token %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="registrationType" id="student" value="student" checked>
              <label class="form-check-label" for="student">Student</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="registrationType" id="nonStudent" value="nonStudent">
              <label class="form-check-label" for="nonStudent">Non-Student</label>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
              <small class="form-text text-muted">Note: Only register once with a single email address and use same
                email to pay.</small>
            </div>
            <div class="form-group">
              <label for="numberOfPapers">Number of Papers Accepted</label>
              <input type="number" class="form-control" id="numberOfPapers" name="numberOfPapers"
                placeholder="Enter number of papers accepted" min="1" required>
            </div>
            <div id="paperDetailsContainer">
              <div class="form-group paper-details">
                <label for="paperDetails1">Paper Details (Paper ID - Paper Title)</label>
                <input type="text" class="form-control" id="paperDetails1" name="paperDetails1"
                  placeholder="Enter as: PaperID, Paper Title">
                <small class="form-text text-muted">Multiple papers: Paper-1 ID, Paper-1 Title, Paper-2 ID, Paper-2
                  Title</small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" data-toggle="modal" data-target="#paymentModal" data-dismiss="modal"
            style="margin-right: auto;">Already registered?</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submitPay">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Payment Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalLabel">Proceed to Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="paymentEmail">Email</label>
              <input type="email" class="form-control" id="paymentEmail" placeholder="Re-enter your email">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="submitPayment">Pay</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<style>
  .form-check-label {
    padding-left: 0.5rem;
  }

  .form-check-input {
    vertical-align: middle;
    margin-top: 0.6rem
  }
</style>


<script>
  /*----------------------------------------------------*/
  /* Quote Loop
  ------------------------------------------------------ */

  function fade($ele) {
    $ele.fadeIn(1000).delay(3000).fadeOut(1000, function () {
      var $next = $(this).next('.quote');
      fade($next.length > 0 ? $next : $(this).parent().children().first());
    });
  }
  fade($('.quoteLoop > .quote').first());


  /*----------------------------------------------------*/
  /* Navigation
  ------------------------------------------------------ */

  $(window).scroll(function () {

    if ($(window).scrollTop() > 300) {
      $('.main_nav').addClass('sticky');
    } else {
      //$('.main_nav').removeClass('sticky');
    }
  });

  // Mobile Navigation
  $('.mobile-toggle').click(function () {
    if ($('.main_nav').hasClass('open-nav')) {
      $('.main_nav').removeClass('open-nav');
    } else {
      $('.main_nav').addClass('open-nav');
    }
  });

  $('.main_nav li a').click(function () {
    if ($('.main_nav').hasClass('open-nav')) {
      $('.navigation').removeClass('open-nav');
      $('.main_nav').removeClass('open-nav');
    }
  });


  /*----------------------------------------------------*/
  /* Smooth Scrolling
  ------------------------------------------------------ */

  jQuery(document).ready(function ($) {

    $('.smoothscroll').on('click', function (e) {
      e.preventDefault();

      var target = this.hash,
        $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 800, 'swing', function () {
        window.location.hash = target;
      });
    });

  });

  TweenMax.staggerFrom(".heading", 0.8, { opacity: 0, y: 20, delay: 0.2 }, 0.4);
</script>